.header {
	font-family: 'CallunaRegular', sans-serif;
	position: fixed;
	z-index: 10;
	top: 0;
	margin: 0 auto;
	width: 100%;
	height: 35px;
    background: #9da6bb;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 232, 237, 1)), to(rgba(156, 166, 189, 1)));
    background: -moz-linear-gradient(rgba(230, 232, 237, 1), rgba(156, 166, 189, 1));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e8ed, endColorstr=#9ca6bd);
	-moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
	-webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
	box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.home_logo {
    background-image:url('/assets/images/home_logo.png');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
	position: relative;
	top: 4.5px;
	left: 50%;
	margin-left: -13px;
	z-index: 11;
}

.bold_text {
	font-weight: bold;
}

.light_text {
	color: gray;
	font-weight: normal;
	font-size: 12px;
}

#profile_dropdown_button {
	display: block;
	float: right;
	width: 55px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(156, 166, 189, 1)), to(rgba(230, 232, 237, 1)));
	background-image:url('/assets/images/profile.png');
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 10px;
	margin-top: -26px;
	height: 100%;
	z-index: 3;
}

#profile_dropdown_button:hover {
	background-image:url('/assets/images/profile_hover.png');
	cursor: pointer;
}

#profile_dropdown_button:active, .profile_dropdown_button_down {
	background-image:url('/assets/images/profile_hover.png');
	cursor: pointer;
	background-color: rgba(0, 0, 0, .1);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.8) inset;

}

#profile_dropdown {
	display: block;
	float: right;
	width: 250px;
	margin-top: 42px;
	z-index: 3;
	background-color: white;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	display: none;
	cursor: default;
	border-radius: 4px 4px 4px 4px;
}

.profile_dropdown_item {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	padding: 4px 0 4px 0;
	line-height: 18px;
	text-indent: 15px;
	cursor: pointer;
}

.profile_dropdown_item:hover, .profile_dropdown_item:hover div {
	background-color: #9ca6bd;
	color: white;
}

#menu_profile {
	margin-top: 4px;
	height: 42px;
}

#menu_profile_icon {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 36px;
	background-size: 36px 36px;
    background-image:url('/assets/images/default_profile.png');
	background-repeat: no-repeat;
	background-position: center;
}

#menu_logout {
	margin-bottom: 4px;
}

.menu_divider {
	border-bottom: 1px solid rgb(221, 221, 221);
	height: 1px;
	margin-top: 4px;
	margin-bottom: 4px;
}


